body{
    margin: 0px;
    padding: 0px;
    background: rgb(178, 178, 243);
}

.container {
    display: grid;
    margin: auto;
    height: 650px;
    padding: 5px;
    grid-template-rows: 1fr auto; /* Agregar la propiedad grid-template-rows */
  }
.logo{
    width: 100%;
    float: left;
}
.logoImg{
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
}
#texto {
    color: rgb(44, 44, 231);
}
.logo h1{
    color: rgb(44, 44, 231);
}
.tittle{
    float: inherit;
    margin-left: 15%;
}
.left{
    float: left;
    width: 70%;
    height: 50%;
    border-radius: 24px;
}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    color: rgb(66, 66, 112);
    width: 80%;
    height: 60%;
    background: rgb(211, 209, 209);
    outline: none;
    border-radius: 24px;
    font-size: 20px;
}
.right{
    float: right;
    text-align: center;
    border-radius: 24px;
    width: 30%;
    height: 80%;
}
.right h1 text  {
    text-align:center ;
}
#texto2{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    color: rgb(66, 66, 112);
    width: 80%;
    height: 60%;
    background:rgb(211, 209, 209);
    outline: none;
    border-radius: 24px;
    font-size: 15px;
}
#copiar{
    margin-left: 33%;
    margin-top: 90%;
    display: none;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: rgb(211, 209, 209);
    border-radius: 24px;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    box-shadow: 5px;
}
p{
    padding: 50px;
    margin-left: 20%;
}
#btn-encriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    background: rgb(158, 175, 230);
    border-radius: 24px;
    margin-left: 15%;
    border-color: black;
}
#btn-desencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    background: rgb(158, 175, 230);
    border-radius: 24px;
    margin-left: 15%;
    border-color: black;
}



@media screen and (max-width: 480px) {

    body{
        margin-top:auto;
        text-align: center;
    }
    .container , .right , .left-button{
        margin-top: auto;
    }

}